@import 'variables';

h1 {
  margin: 1.30435em $base-margin 1.34161em;
  font-size: $big-text;
  font-weight: 500;
  width: 40%;
  @media (min-width: 700px) {
    margin-top: 3.875rem;
    margin-bottom: 4.625rem;
    font-size: 4.025rem;
    font-weight: 500;
  }
  @media (min-width: 1000px) {
    font-size: 5.03125rem;
  }
}

.intro__portait { /*75px 290px*/
  position: relative;
  height: auto;
  width: 70%;
  background-color: $secondary-color;
  @media (min-width: 700px) {
    width: 50%;
  }
  @media (min-width: 1000px) {
    width: 25%;
  }
}