@import "variables";

section.video {
  .button--down-top {
    display: inline-block;
    background: white;
    color: $primary-color;
    transition: $transition-top-down;
    text-transform: uppercase;
    padding: 1.0625rem 3.8125rem 1rem;
    &:before {
      background: $secondary-color;
    }
  }
}