// theme color
$primary-color: #3C6D79;
$secondary-color: #F9AE65;
$light-purple: #e0e2ee;

// spacing
$base-margin: 0.9722311111rem;

// text sizing
$big-text: 2.515625rem;

// Delaying animation

@mixin set-delay($number-of-items, $delay) {
  @for $i from 1 through $number-of-items {
    &.item-#{$i} {transition-delay: #{$i*$delay}s;}
  }
}
