// theme color
$primary-color: #3C6D79;
$secondary-color: #F9AE65;
$light-purple: #e0e2ee;
$school-color: #E0E2ED;

// spacing
$base-margin: 0.9722311111rem;

// text sizing
$big-text: 2.515625rem;

//button top-down & down-top animation

$transition-top-down: transform .3s cubic-bezier(.4,0,0,1);

// Delaying animation

@mixin set-delay($number-of-items, $delay) {
  @for $i from 1 through $number-of-items {
    &.item-#{$i} {transition-delay: #{$i*$delay}s;}
  }
}
