/* ----------------- */
/* -- Burger menu -- */
/* ----------------- */
.burger-menu {
  position: fixed;
  top: 0.9722311111rem;
  right: 0.9722311111rem;
  z-index: 1; }
  .burger-menu .burger-menu__checkbox {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 3.25rem;
    height: 3.25rem;
    opacity: 0;
    margin: 0; }
    .burger-menu .burger-menu__checkbox:hover + .burger-menu__hamburger {
      width: 3.75rem;
      height: 3.75rem;
      top: -0.2rem;
      right: -0.2rem; }
    .burger-menu .burger-menu__checkbox:checked + .burger-menu__hamburger > div:before {
      top: 0;
      transform: rotate(135deg); }
    .burger-menu .burger-menu__checkbox:checked + .burger-menu__hamburger > div:after {
      top: 0;
      transform: rotate(-135deg); }
    .burger-menu .burger-menu__checkbox:checked + .burger-menu__hamburger ~ .burger-menu__list {
      transform: scaleX(1); }
      .burger-menu .burger-menu__checkbox:checked + .burger-menu__hamburger ~ .burger-menu__list > a,
      .burger-menu .burger-menu__checkbox:checked + .burger-menu__hamburger ~ .burger-menu__list > nav {
        opacity: 1; }
      .burger-menu .burger-menu__checkbox:checked + .burger-menu__hamburger ~ .burger-menu__list li a {
        transform: none; }
  .burger-menu .burger-menu__hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 3.25rem;
    height: 3.25rem;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50em;
    transition: all 0.2s ease; }
    .burger-menu .burger-menu__hamburger > div {
      position: relative;
      width: 1.25rem;
      display: flex;
      align-items: center;
      justify-content: center; }
    .burger-menu .burger-menu__hamburger > div:before {
      top: 3px; }
    .burger-menu .burger-menu__hamburger > div:after {
      top: -3px; }
    .burger-menu .burger-menu__hamburger > div:before,
    .burger-menu .burger-menu__hamburger > div:after {
      content: "";
      position: absolute;
      z-index: 1;
      width: 100%;
      background-color: #3C6D79;
      height: 1px;
      transition: all 0.4s ease; }
  .burger-menu .burger-menu__list {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 2rem);
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #3C6D79;
    flex-direction: column;
    padding: 4rem 1rem;
    transform: scaleX(0);
    transition: all 0.4s ease; }
    .burger-menu .burger-menu__list a {
      color: #F9AE65; }
    .burger-menu .burger-menu__list > a,
    .burger-menu .burger-menu__list > nav {
      opacity: 0; }
    .burger-menu .burger-menu__list > a {
      display: inline-block;
      align-self: start;
      top: 0;
      left: 0;
      font-size: 0.6875rem;
      margin-bottom: 2.625em; }
    .burger-menu .burger-menu__list .list__nav {
      display: block;
      border-top: 1px solid #F9AE65;
      border-bottom: 1px solid #F9AE65;
      text-align: center;
      margin: 0 1rem;
      width: 100%; }
    .burger-menu .burger-menu__list h3 {
      font-size: 0.875rem;
      margin-bottom: 1.3125rem; }
    .burger-menu .burger-menu__list li {
      font-size: 1.421878rem;
      text-transform: uppercase;
      margin-bottom: 0.546875rem;
      transition: all 0.4s ease;
      overflow: hidden; }
      .burger-menu .burger-menu__list li a {
        display: inline-block;
        transform: translate3d(0, 100%, 0);
        transition-property: transform;
        transition-duration: 0.1s;
        transition-timing-function: ease; }
        .burger-menu .burger-menu__list li a.item-1 {
          transition-delay: 0.1s; }
        .burger-menu .burger-menu__list li a.item-2 {
          transition-delay: 0.2s; }
        .burger-menu .burger-menu__list li a.item-3 {
          transition-delay: 0.3s; }
        .burger-menu .burger-menu__list li a.item-4 {
          transition-delay: 0.4s; }
        .burger-menu .burger-menu__list li a.item-5 {
          transition-delay: 0.5s; }
        .burger-menu .burger-menu__list li a.item-6 {
          transition-delay: 0.6s; }
      .burger-menu .burger-menu__list li:hover {
        transform: skew(-16deg); }

/* -------------------- */
/* -- Marquee text -- */
/* -------------------- */
.marquee-text {
  padding: 1.09375rem 0;
  position: relative;
  overflow: hidden;
  font-size: 2.078125rem;
  text-transform: uppercase; }
  .marquee-text .marquee-text__inner {
    width: max-content;
    display: flex;
    position: relative; }
    .marquee-text .marquee-text__inner span {
      animation: marquee 1.2s linear infinite;
      padding: 0 2vw; }

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(-100%, 0, 0); } }

/* ------------- */
/* -- General -- */
/* ------------- */
.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.opacity-zero {
  opacity: 0; }

@media (max-width: 1000px) {
  .dt-only {
    /* Show in desktop only */
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px; } }

body {
  font-family: "Helvetica Neue", "Arial", "Helvetica", sans-serif;
  background: #3C6D79;
  color: white;
  /*font-size: 1.1875em;*/ }

h1,
h2,
h3 {
  text-transform: uppercase;
  color: #F9AE65; }

a {
  text-decoration: none; }

/*h1 {*/
/*    font-size: 5.75rem;*/
/*    font-weight: 500;*/
/*    margin-left: 43px;*/
/*    margin-top: 147px;*/
/*    letter-spacing: -0.03em;*/
/*    width: 793px;*/
/*}*/
/* --------- */
/* -- Nav -- */
/* --------- */
/*nav a {*/
/*    color: white;*/
/*    text-decoration: none;*/
/*}*/
/*nav a:hover {*/
/*    text-decoration: underline;*/
/*}*/
.main-nav {
  padding: 0.9722311111rem;
  font-family: Roboto, sans-serif;
  font-size: 1.125rem; }
  .main-nav > ul {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .main-nav > ul > li {
      padding-right: 12.4%; }
      .main-nav > ul > li:first-of-type {
        margin-right: auto;
        padding-right: 0; }
        .main-nav > ul > li:first-of-type a {
          margin-left: 0;
          color: #F9AE65;
          font-weight: bold; }

/* ------------------- */
/* -- Intro section -- */
/* ------------------- */
h1 {
  margin: 1.30435em 0.9722311111rem 1.34161em;
  font-size: 2.515625rem;
  font-weight: 400;
  width: 40%; }
  @media (min-width: 700px) {
    h1 {
      margin-top: 3.875rem;
      margin-bottom: 4.625rem;
      font-size: 4.025rem;
      font-weight: 500; } }

.intro__portait {
  /*75px 290px*/
  position: relative;
  height: auto;
  width: 70%;
  background-color: #F9AE65; }
  @media (min-width: 700px) {
    .intro__portait {
      width: 50%; } }

/* ------------------- */
/* -- Text carousel -- */
/* ------------------- */
.text-carousel {
  font-size: 0.875rem;
  text-transform: uppercase;
  margin: 2.25em 4.375em 6.25em;
  position: relative; }
  @media (min-width: 700px) {
    .text-carousel {
      margin-top: 0;
      margin-left: 7.8125rem;
      padding-top: 6.2857142857em; } }
  .text-carousel .text-carousel__trail {
    position: absolute;
    top: 0;
    width: 9.84375rem; }
    @media (max-width: 700px) {
      .text-carousel .text-carousel__trail {
        display: none; } }

.text-carousel__text {
  overflow: hidden;
  position: relative;
  width: 60%;
  display: flex; }
  @media (min-width: 700px) {
    .text-carousel__text {
      width: 35%; } }

.text-carousel__text li {
  flex: 0 0 100%; }

.text-carousel .item-1 {
  animation: 12s infinite ease-in-out auto-scroll__item-1; }

.text-carousel .item-2 {
  animation: 12s infinite ease-in-out auto-scroll__item-2; }

.text-carousel .item-3 {
  animation: 12s infinite ease-in-out auto-scroll__item-3; }

/*phase 1 0-3.5 (3.5/12): item-1 */
/*phase 2 3.5-4 (0.5/12): transition*/
/*phase 3 4-7.5 (3.5/12): item-2*/
/*phase 4 7.5-8 (0.5/12): transition*/
/*phase 5 8-11.5 (3.5/12): item-3*/
/*phase 6 11.5-12 (0.5/12): transition*/
/*phase 7 : reset*/
@keyframes auto-scroll__item-1 {
  0% {
    transform: translateX(0); }
  29.16666667% {
    transform: translateX(0); }
  33.33333333% {
    transform: translateX(-100%); }
  95.83333333% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }

@keyframes auto-scroll__item-2 {
  0% {
    transform: translateX(0); }
  29.16666667% {
    transform: translateX(0); }
  33.33333333% {
    transform: translateX(-100%); }
  62.5% {
    transform: translateX(-100%); }
  66.66666667% {
    transform: translateX(-200%); }
  95.83333333% {
    transform: translateX(-200%); }
  100% {
    transform: translateX(0); } }

@keyframes auto-scroll__item-3 {
  0% {
    transform: translateX(0); }
  62.5% {
    transform: translateX(0); }
  66.66666667% {
    transform: translateX(-200%); }
  95.83333333% {
    transform: translateX(-200%); }
  100% {
    transform: translateX(0); } }

.text-carousel__title {
  color: #F9AE65;
  font-size: 0.7857142857em;
  overflow: hidden;
  position: relative;
  margin-bottom: 1.09375rem; }

.text-carousel__title ol {
  display: inline-block;
  overflow: hidden; }

.text-carousel__title ol li {
  position: absolute;
  top: 0;
  left: 0.4rem; }

/*animation: 12s infinite ease-in-out auto-scroll__item-3;*/
.carousel__title__item-1 {
  animation: 12s infinite ease-in-out carousel__title__item-1; }

.carousel__title__item-2 {
  animation: 12s infinite ease-in-out carousel__title__item-2; }

.carousel__title__item-3 {
  animation: 12s infinite ease-in-out carousel__title__item-3; }

.text-carousel__title__right {
  margin-left: -0.2rem; }

@keyframes carousel__title__item-1 {
  0% {
    transform: translateY(0); }
  29.16666667% {
    transform: translateY(0); }
  33.33333333% {
    transform: translateY(-100%); }
  95.83333333% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }

@keyframes carousel__title__item-2 {
  0% {
    transform: translateY(100%); }
  29.16666667% {
    transform: translateY(100%); }
  33.33333333% {
    transform: translateY(0); }
  62.5% {
    transform: translateY(0); }
  66.66666667% {
    transform: translateY(-100%); }
  95.83333333% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(100%); } }

@keyframes carousel__title__item-3 {
  0% {
    transform: translateY(100%); }
  62.5% {
    transform: translateY(100%); }
  66.66666667% {
    transform: translateY(0); }
  95.83333333% {
    transform: translateY(0); }
  100% {
    transform: translateY(100%); } }

/* ----------- */
/* -- Steps -- */
/* ----------- */
section.steps {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: min-content;
  /*grid-template-columns: 19% 10% 1fr;*/
  margin: 0 0.9722311111rem; }

.steps h2 {
  font-size: 2rem;
  /*font-size: 3.5vw;*/
  color: #F9AE65;
  word-spacing: 9999rem;
  margin-bottom: 2.5rem; }

div.sideways {
  font-size: 0.875rem;
  margin-top: 2.5rem;
  writing-mode: vertical-rl;
  rotate: 180deg;
  justify-self: end;
  align-self: end; }

div.sideways p {
  /*width: 2.1875rem;*/ }

.steps__list {
  margin-top: 5rem;
  grid-column: -1/1; }
  .steps__list h3 {
    margin: 0 0 1em; }
  .steps__list > div {
    padding-top: 38px;
    border-top: white 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.875em; }
    @media (min-width: 700px) {
      .steps__list > div {
        display: grid;
        grid-template-columns: 33.33333% 1fr; } }
  .steps__list .text-steps {
    margin-right: 6%; }
    .steps__list .text-steps p {
      letter-spacing: -0.022em;
      line-height: 1.4210526316;
      margin-bottom: 6.4285714286em; }
  .steps__list h4 {
    text-transform: uppercase;
    font-size: 1.625em;
    /*22.75px*/
    margin-bottom: 1.5824em;
    letter-spacing: -0.0036em;
    line-height: 1; }
  .steps__list p {
    margin-bottom: 2.1428571429em; }

/*@media (max-width: 1000px) {*/
/*    section.steps {*/
/*        grid-template-columns: 1fr 1fr;*/
/*    }*/
/*    section.steps h2 {*/
/*        font-size: 3rem;*/
/*        width: 60%;*/
/*        grid-row: 1/2;*/
/*    }*/
/*    section.steps .sideways {*/
/*        justify-self: right;*/
/*        width: auto;*/
/*        height: 15em;*/
/*        grid-column: 2/3;*/
/*        margin-bottom: 2em;*/
/*    }*/
/*    section.steps .steps h3 {*/
/*        font-size: 1rem;*/
/*    }*/
/*    section.steps .steps {*/
/*        margin-top: 0;*/
/*        grid-column: 1/3;*/
/*        grid-row: 2/3;*/
/*    }*/
/*    section.steps .steps h4 {*/
/*        font-size: 1.875rem;*/
/*    }*/
/*    section.steps .text-steps {*/
/*        font-size: 0.875rem;*/
/*    }*/
/*}*/
.language {
  background-color: #F9AE65;
  color: #3C6D79; }
  .language .shred {
    background: #3C6D79;
    fill: #F9AE65;
    width: 100vw; }
    .language .shred svg {
      display: block;
      height: 101%; }
  .language h2 {
    margin-top: 6.25rem;
    margin-bottom: 3.5rem;
    font-size: 1.378125rem;
    text-align: center;
    color: #3C6D79; }
    .language h2 span {
      display: inline-block; }
  .language p {
    margin: 3.5rem 0.9722311111rem;
    font-size: 0.875rem; }
  .language ul {
    font-size: 0.75rem;
    margin: 0 0.9722311111rem; }
    .language ul li {
      padding: 0.8203125rem 0;
      border-top: solid 1px #3C6D79; }
      .language ul li:last-of-type {
        border-bottom: solid 1px #3C6D79; }

.marquee-text:before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  width: 90%;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-top: solid currentColor 1px;
  border-bottom: solid currentColor 1px; }

.latest-project {
  background: #F9AE65;
  color: white; }

footer {
  visibility: hidden; }

footer .socials {
  display: flex;
  justify-content: space-between;
  margin: 90px; }

footer .socials li {
  border: 2px #F9AE65 solid;
  border-radius: 10em;
  transition: 0.3s; }

footer .socials li svg {
  padding: 70px;
  width: 97px;
  height: 97px;
  stroke: #F9AE65;
  fill: none;
  stroke-width: 9px;
  transition: all 0.3s; }

footer .socials li:hover {
  border: #3C6D79 2px solid;
  border-radius: 10em;
  position: relative; }

footer .socials li::before {
  content: '';
  position: absolute;
  background-color: #F9AE65;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  border-radius: 10em;
  z-index: -1; }

footer .socials li:hover::before {
  width: 280px;
  height: 280px; }

footer .socials li:hover svg {
  stroke: #3C6D79; }
